body {


}

main{

  margin: auto;
  width: 1600px;
  height: 770px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  background-color: #000000;
  background-image: url('../images/wave-1817646_1920.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 120px;

}

.navigation{

  align-self: flex-end;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: 200px;

}

.header-one{

  margin-bottom: auto;
  margin-left: 200px;

}